# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules/
**/node_modules/
frontend/node_modules/
backend/venv/

# next.js
.next/
out/
**/.next/
**/out/

# production
build/
**/build/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*
**/.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# service account key
ad-hub-d1c0a-firebase-adminsdk-fbsvc-3a91ccbce3.json

# IDE
.idea/
.vscode/

# OS
.DS_Store
**/.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# Test
test-results/
playwright-report/
coverage/

# Large files
*.node
**/*.node

# firebase
.emulator_pid
firebase_emulator_*
firestore-debug.log

# General Logs
*.log




